* body {
	box-sizing: border-box;
  	font-family: 'Source Sans Pro', sans-serif;
}

.input {
	width: 200px;
	margin-bottom: 25px;
}

button {
	cursor: pointer;
}

.main-text {
	font-size: 22px;
	font-weight: bolder;
}

.sub-text {
	font-size: 18px;
}

.hidden {
	display: none;
}

.grid {
 	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: auto 1fr 1fr;
  	grid-template-areas: 
  	"main-div main-div main-div"
  	"recipes recipes recipes"
  	"list-div list-div list-div";
}
/*responsive for mobile, desktop is below, test by moving size of window*/

.main-div {
  	grid-area: main-div;
  	text-align: center;
	background-color: #C4F5F3;
}

.recipes {
 	grid-area: recipes;
 	margin-top: 15px;
 	float: left;
 	height: 250px;
 	width: 180px;
 	margin: 10px;
 	border-style: solid;
 	border-color: gainsboro;
 	border-width: 1px;
 	border-radius: 5px;
 	padding: 6px;
 	overflow: auto;
}

.list-body {
	text-align: left;
}

.list-div {
	grid-area: list-div;
}

.shopping-list {
 	border-style: solid;
 	border-color: gainsboro;
	border-width: 1px;
	border-radius: 5px;
	margin-top: 15px;
	padding: 15px;
	text-align: center;
}

.thumbnail {
  	position: relative;
  	width: 80px;
  	height: 80px;
  	overflow: hidden;
  	margin-top: 10px;
  	margin-left: 6px;
}

.thumbnail img {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	height: 100%;
  	width: auto;
  	-webkit-transform: translate(-50%,-50%);
     	 -ms-transform: translate(-50%,-50%);
          	transform: translate(-50%,-50%);
}

.ingItem span {
	cursor: pointer;
}

.list-title {
	font-size: 25px;
	text-align: center;
	margin-bottom: -10px;
}

.list-instructions {
	font-size: 15px;
	text-align: center;
}

.button-div {
	margin-top: 90%;
	margin-bottom: 10%;
}

.x-button {
	border-style: none;
}

@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto 400px;
    grid-template-areas: 
    "main-div main-div"
    "recipes list-div";
	}
}
/*desktop view, mobile is main setting*/


