* body {
	box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url(https://user-images.githubusercontent.com/29738609/37105167-bb89be8c-21eb-11e8-904d-2ec71e47e5a1.jpg);
}

a {
  color: #950000;
}

a:link {
  text-decoration: none; 
}

ul { 
  list-style: none;
  padding: 2px;
  margin: 3px;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-div {
  background-color: #950000;
  padding: 20px;
  width: 100%;
  height: auto;
  margin: -20px; 
  margin-bottom: 20px;
}

.logo {
  height: 150px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.main-text {
	font-size: 22px;
	font-weight: bolder;
  color: white;
}

.sub-text {
	font-size: 18px;
  color: white;
}

.input {
  width: 225px; 
  font-size: 16px;
  margin-bottom: 25px;
}

.search-button {
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
}

.messages {
  color: #950000;
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
}

.recipes {
  background-color: white;
  color: #950000;
  margin-top: 15px;
  float: left;
  width: 180px;
  height: 250px;
  margin: 10px;
  padding: 6px;
  border-style: solid;
  border-color: gainsboro;
  border-width: 1px;
  border-radius: 3px;
  overflow: auto;
  box-shadow: 5px 5px 5px gainsboro;
}

.thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 6px;
}

.ing-header {
  margin-bottom: -3px;
}

.ingItem span {
  cursor: pointer;
  color: black;
}

.glove {
  height: 100px;
  float: left;
}

.click-ing{
  border-style: solid;
  border-color: #950000;
  background-color: #950000; 
  float: left;
  color: white;
  font-weight: bolder;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  overflow: auto;
  box-shadow: 5px 5px 5px gainsboro;
}

.shopping-list {
  border-style: solid;
  border-color: gainsboro;
  background-color: white; 
  color: black;
  border-width: 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  overflow: auto;
  box-shadow: 5px 5px 5px gainsboro;
}

.list-title {
	font-size: 25px;
	text-align: center;
	margin-bottom: -10px;
  margin-top: 0px;
  font-style: bolder;
  color: #950000;
}

.list-instructions {
	font-size: 15px;
	text-align: center;
  color: black;
}

.list-body {
  text-align: left;
  margin-bottom: 15px;
  color: black;
}

.x-button {
  border-style: none;
  color: #950000;
}

.button-text {
  color: black;
}